<!-- register.html-->

{% extends "base.html" %}
{% block title %}Add article{% endblock %}
{% block body %}

{% from "includes/_formhelpers.html" import render_field %}
<h1>Edit article {{article.id}}</h1>


<form method="POST" action="">
  
  

    <input type="hidden" name="id" value="{{article.id}}">
    <label for="title">Title</label>
    <input class="form-control" type="text" name="title" id="title" value="{{article.title}}">
    <label  for="date">Date</label>
    <div class="form-group">
      <input type="date" name="date" id="date" class="form-control">
    </div>
  
    <p> <input type="submit" class="btn btn-primary" value="Submit"> </p>
  
</form>

{% endblock %}
